.icon {
  width: 30px;
  height: 30px;
  background: url('~/assets/images/icons.png');
}

.nikkori {
  display: flex;
  width: 30px;
  height: 30px;
  justify-content: center;
  background: url('~/assets/images/icons.png');
  margin: 0 auto;
}

.nikkoriTile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 40px;
  background-color: #ddd;
  border-top: 5px solid #fff;
  border-right: 5px solid #eee;
  border-left: 5px solid #ccc;
  border-bottom: 5px solid #bbb;
}

.nikkoriTile:active {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 40px;
  background-color: #ddd;
  border-bottom: 5px solid #fff;
  border-left: 5px solid #eee;
  border-right: 5px solid #ccc;
  border-top: 5px solid #bbb;
}

.container {
  display: flex;
  flex-direction: column;
  height: 350px;
  width: 300px;
  justify-content: center;
  align-items: center;
  background-color: #ddd;
  border-top: 5px solid #fff;
  border-right: 5px solid #eee;
  border-left: 5px solid #ccc;
  border-bottom: 5px solid #bbb;
}

.containerBorder {
  height: 280px;
  width: 280px;
  justify-content: center;
  align-items: center;
  background-color: #ddd;
  border-bottom: 5px solid #fff;
  border-left: 5px solid #eee;
  border-right: 5px solid #ccc;
  border-top: 5px solid #bbb;
}

.menuBoard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 50px;
  width: 280px;
  background-color: #bbb;
  background-color: #ddd;
  border-bottom: 5px solid #fff;
  border-left: 5px solid #eee;
  border-right: 5px solid #ccc;
  border-top: 5px solid #bbb;
}

.board {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 270px;
  width: 270px;
  background-color: #bbb;
  margin: 0 auto;
}

.flag {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: url('~/assets/images/icons.png');
}

.cell {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: url('~/assets/images/icons.png');
}

.border {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 11.1111%;
  width: 11.1111%;
  border: 1px solid #ddd;
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #ddd;
  border-top: 5px solid #fff;
  border-right: 5px solid #eee;
  border-left: 5px solid #ccc;
  border-bottom: 5px solid #bbb;
}

/*
.tile:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #bbb;
  border: 5px solid #bbb;
}
*/
