.icon {
  width: 30px;
  height: 30px;
  background: url('~/assets/images/icons.png');
}

.nikkori {
  display: flex;
  width: 30px;
  height: 30px;
  justify-content: center;
  background: url('~/assets/images/icons.png');
  margin: 0 auto;
}

.nikkoriTile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 40px;
  background-color: #ddd;
  border-top: 5px solid #fff;
  border-right: 5px solid #eee;
  border-left: 5px solid #ccc;
  border-bottom: 5px solid #bbb;
}

.nikkoriTile:active {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 40px;
  background-color: #ddd;
  border-bottom: 5px solid #fff;
  border-left: 5px solid #eee;
  border-right: 5px solid #ccc;
  border-top: 5px solid #bbb;
}

.container {
  display: flex;
  flex-direction: column;
  height: 350px;
  width: 300px;
  justify-content: center;
  align-items: center;
  background-color: #ddd;
  border-top: 5px solid #fff;
  border-right: 5px solid #eee;
  border-left: 5px solid #ccc;
  border-bottom: 5px solid #bbb;
}

.containerBorder {
  height: 280px;
  width: 280px;
  justify-content: center;
  align-items: center;
  background-color: #ddd;
  border-bottom: 5px solid #fff;
  border-left: 5px solid #eee;
  border-right: 5px solid #ccc;
  border-top: 5px solid #bbb;
}

.menuBoard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 50px;
  width: 280px;
  background-color: #bbb;
  background-color: #ddd;
  border-bottom: 5px solid #fff;
  border-left: 5px solid #eee;
  border-right: 5px solid #ccc;
  border-top: 5px solid #bbb;
}

.board {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 270px;
  width: 270px;
  background-color: #bbb;
  margin: 0 auto;
}

.border {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 11.1111%;
  width: 11.1111%;
  border: 1px solid #ddd;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  width: 100%;
  background: url('~/assets/images/icons.png');
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #ddd;
  border-top: 5px solid #fff;
  border-right: 5px solid #eee;
  border-left: 5px solid #ccc;
  border-bottom: 5px solid #bbb;
}

.flag {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: url('~/assets/images/icons.png');
}

.batu {
  display: block;
  position: absolute;
  position: relative;
  width: 30px;
  height: 30px;
}

.batu::before,
.batu::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3px; /* 棒の幅（太さ） */
  height: 27px; /* 棒の高さ */
  background: #f00; /* バツ印の色 */
}

.batu::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.batu::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
